/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container do login */
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ocupa a tela inteira verticalmente */
    background-color: #f5f5f5;
}

/* Form */
#login form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* espaçamento entre campos */
    padding: 30px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 17%;
    min-width: 300px;
}

#login form div {
    display: flex;
    flex-direction: column;
}

/* Labels */
#login label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    margin-right: 5%;
}

/* Inputs */
#login input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botão */
#submit-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #1ae2b0;
    color: #070606;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#submit-button:hover:not(:disabled) {
    background-color: #333;
}

#submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.register-link {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.register-link a {
    color: #1ae2b0;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #333;
    text-decoration: underline;
}

#server-error-msg {
    text-align: center;
    color: red;
}